.productsTittle{
    color: #fff;
    background-color: #000;
    font-size: 2rem;
    margin: 0;
    padding: 0% 9% 3% 9%;
    text-align: center;
}

.products-container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 0 0 6% 0;
    overflow: hidden;
    margin: 0 ;
    box-sizing: border-box;
}

.product-card {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: white;
    text-align: center;
}

.product-card:hover .overlay {
    opacity: 1;
}

.overlay-title {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.overlay-description {
    font-size: 1rem;
    text-align: center;
    width: 49%;
}

/* Estilos para pantallas menores a 991px */
@media (max-width: 991px) {
    .products-container {
        flex-direction: column;
        height: auto;
    }

    .productsTittle{
        font-size: 1.7rem;
        text-align: start;
    }

    .product-card {
        width: 80%;
        height: 700px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5px;
    }

    .overlay-description {
        width: 80%;
    }

    .product-image {
        height: auto;
    }
}
